*{
    margin: 0;
    padding: 0;
    background-color: #492cdd;
}
span{
    color: red;
}
body{
    color: white;
    word-spacing: 1em;
    line-height: 3rem;
    font-size: 2rem;
    font-family: cursive;
}
a{
    color: hotpink;
}
h1{
    color: red;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
}